/*
  Name: Salim Choura and Yanxihao Chen 
  Course Name: CSc337
  Description: Stylesheet for index.html file.
*/

div, button{
  margin-top: 10px;
}

input{
  margin-left: 5px;
}

body
{
  padding-top: 20px;
  background-color: rgb(153, 201, 243);
  padding-left: 20px;
}

h1, h2
{
  font-family: 'Courier New';
  color: rgb(8, 33, 114);
}
