/**
    Author: Salim Choura and Yanxiao Chen
    Course: csc 337
    Description: This file is a style file for our home.html
*/
#bar
{
    background-color: rgb(153, 201, 243);
    height: 30vh;
}

#lower_left
{
    border: solid 2px black;
    background-color: rgb(146, 245, 146);
    height: 70vh;
    width: 49vw;
    position: absolute;
    overflow-y: scroll;
}

#lower_right
{
    overflow-y: scroll;
    border: solid 2px black;
    background-color: rgb(146, 245, 146);
    height: 70vh;
    width: 49vw;
    margin-left: 49vw;
    position: absolute;
}

html, body
{
    margin: 0px;
    padding: 0px;
}

h1
{
    position: absolute;
    padding: 0px;
    margin: 0px;
    color: rgb(8, 33, 114);
    margin-left: 50px;
    margin-top: 50px;
}

input, #listings, #purchases, #create
{
    margin-left: 40px;
}

img 
{
    width: 100px;
    height: 100px;
}

.item
{
    margin-left: 175px;
    text-align: center;
    width: 300px;
    border: black solid 2px;
}
